/* style.css */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    width: 300px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, button {
    padding: 10px; /* Ensure even padding on all sides */
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #6200ea;
}

button {
    background-color: #6200ea;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

#clearanceOutput {
    margin-top: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    width: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}